<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Car Price Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section layout:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Modelos</h2>
    </div>
</section>
</body>
</html>